<% @topics.each do |topic| %>    
  <% quote = Quote.find(:first,:conditions => {:topic_id => topic.id}) %>
  <li onclick="switchTopic(this,<%= topic.id %>,'<%= topic.name %>');"><%= topic.name %></li>
<% end %>